#landingPage {
  position:absolute;
  height: 100%;
  width: 100%;
  background-image: url("https://thumbs.dreamstime.com/z/musical-background-6057899.jpg");
}

#landingPage h1 {
  margin: 0 auto;
  text-align: center;
}

.joinRoom, .createRoom {
  margin: 2% auto;
}

#landingPage .divider {
  width: 25%;
  margin: 2% auto;
}

#introText {
  padding:7px;
  border-radius:20%;
  color:white;
  border:0.007px solid transparent;
  background-image:url('http://bit.ly/2b2ePzs');
  width:350px;
  position:absolute;
  font-size: 15px;
  font-weight: bold;
  size:20px;
}

#callToAction {
  position:absolute;
  font-size: 45px;
  font-weight: bold ;
  top: 55%;
  left: 36%;
  font-family: Impact, Charcoal, sans-serif;
}
