#landingPage {
  //position:absolute;
  //height: 100%;
  //width: 100%;
  //background-image: url("https://thumbs.dreamstime.com/z/musical-background-6057899.jpg");

  h1 {
    margin: 0 auto;
    text-align: center;
  }

  .joinRoom, .createRoom {
    margin: 2% auto;
  }

  #callToAction {
    //position:absolute;
    //font-size: 45px;
    //font-weight: bold ;
    //top: 55%;
    //left: 36%;
    //font-family: Impact, Charcoal, sans-serif;
  }
}
